<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="add-badge-tab-grid" xsi:type="array">
                    <item name="class" xsi:type="string">Megaorson\ProductBadges\Ui\DataProvider\Product\Form\Modifier\BadgeTab</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">badge/tmp/image</argument>
            <argument name="basePath" xsi:type="string">badge/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Megaorson\ProductBadges\Controller\Adminhtml\ProductBadges\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type>
    <type name="Megaorson\ProductBadges\Controller\Adminhtml\ProductBadges\Edit">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type>
    <type name="Megaorson\ProductBadges\Controller\Adminhtml\ProductBadges\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type>
    <type name="Megaorson\ProductBadges\Controller\Adminhtml\ProductBadges\Delete">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type>
    <type name="Megaorson\ProductBadges\Controller\Adminhtml\ProductBadges\NewAction">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type>
</config>
